@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto; 
}

body {
  background-color: #14161d;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* header content */
header h1 {
  color: rgb(61,153,246);
  text-align: left;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
}

header {
  background-color: rgb(31,34,41);
  padding: 15px 0;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 900;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-bar a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #fff;
  transition: 0.3s;
}

#profile-btn {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  background-color:#444
}

#profile-btn:hover {
  background-color: #6a6969;
  transition: 0.3s;
}

/* hide class */
.hidden {
  display: none;
}

/* modal groups */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  z-index: 1000;
}

.close {
  cursor: pointer;
}

/* post */
.post-box {
  color: #fff;
  text-align: center;
  padding-left: 30px;
  display: flex;
  height: 150px;
  width: 50%;
  margin-top: 100px;
  background-color:rgb(31,34,41);
  border-radius: 10px;
  margin-left: 300px;
}
.post-box textarea{
  background-color:rgb(31,34,41);
  color:#fff;
  border-color: rgb(31,34,41);
  border-radius: 5px;
}