@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto; 
}

header {
  background-color: #2d3141;
}

body {
  background-color: #14161d;
}

.hidden {
  display: none;
}

/* modal groups */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb( 0 0 0/0.1);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.close {
  cursor: pointer;
}