@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto; 
}

body {
  background-color: #14161d;
}

/* header content */
header h1 {
  color: rgb(61,153,246);
  text-align: left;
  padding-left: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(31,34,41);
  width: auto;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  place-content: center;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
}


/* hide class */
.hidden {
  display: none;
}

/* modal groups */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.close {
  cursor: pointer;
}

/* post */
.post-box {
  color: white;
  display: flex;
  place-content: center;
  height: 400px;
}