@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto; 
}

body {
  background-color: #14161d;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* header content */
header h1 {
  color: rgb(61,153,246);
  text-align: left;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
}

header {
  background-color: rgb(31,34,41);
  padding: 15px 0;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 900;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-bar a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #fff;
  transition: 0.3s;
}

#profile-btn {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  background-color:#444
}

#profile-btn:hover {
  background-color: #6a6969;
  transition: 0.3s;
}

/* hide class */
.hidden {
  display: none;
}

/* modal groups */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  color: #14161d;
  border-radius: 10px;
  padding-right: 100px;
  padding-left: 100px;
  height: 400px;
  width: min(100% - 40px, 400px);
  text-align: center;
  align-items: center;
  z-index: 0;
  margin: auto;
  margin-right: 800px;
}

#modal-body {
  font-size: 16px;
  line-height: 1.8;
  white-space: pre-wrap; 
  z-index: 1;
}

.modal-content h3 {
  margin-bottom: 15px;
  font-size: 24px;
  z-index: 2;
}

.close {
  cursor: pointer;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* post box / post controls */
.create-post-box {
  background-color: #1f2229;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.create-post-box textarea {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  min-height: 100px;
  resize: vertical;
  margin-bottom: 15px;
}

.create-post-box textarea::placeholder {
  color: #a3a3a3;
}

.post-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-uploader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-label {
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.upload-label:hover {
  color: #fff;
}

#post-btn {
  background-color: rgb(61, 153, 246);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}

#post-btn:hover {
  background-color: rgb(40, 120, 200);
  cursor: pointer;
}

#file-name {
  color: #888;
  font-size: 14px;
}

/* post area */
.new-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.post-box {
  background-color: #1f2229;
  border-radius: 8px;
  padding: 20px;
}
.post-box p {
  color: #fff;
  font-size: 16px;
  white-space: pre-wrap; 
}

.post-box img {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}

